main {
  min-height: 85vh;
  background: whitesmoke;
  margin-top: 100px;
  color: rgb(77, 210, 228);
}

/* Header */
.navbar {
  min-height: 100px;
  position: fixed;
  width: 100%;
  margin-bottom: 100px;
  top: 0;
  z-index: 100;
}

.nav-link {
  color: rgb(76, 223, 113) !important;
}

.navbar-brand {
  width: 200px !important;
}

/* Footer */

footer {
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #414345,
    #232526
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #414345,
    #232526
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: fixed;
  bottom: 0;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
}

/* Home page */
.homePageHeader {
  color: yellow;
  border-radius: 10px;
  clip-path: polygon(11% 0, 100% 0, 89% 100%, 0% 100%);
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  opacity: 0.75;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  width: 30%;
  margin-bottom: 20px;
  margin: 0 auto;
}

/* Product Cards */
.card {
  /* background: #c04848;
  background: -webkit-linear-gradient(to right, #480048, #c04848);
  background: linear-gradient(to right, #480048, #c04848); */
  background: linear-gradient(-145deg, whitesmoke 47%, gray);
  color: lightgreen !important;
  border-top: 1px solid yellow;
  box-shadow: -3px 3px 22px -3px rgba(0, 0, 0, 0.3);
}

.productImage {
  border: 1px solid #34fa6f;
  box-shadow: 0px 2px 20px -5px rgba(0, 0, 0, 0.3);
  /* min-height: 240px; */
}

.productNameBox {
  color: rgb(235, 235, 176);
  min-height: 70px;
  font-size: 1rem;
  padding: 3px 0px 3px 30px;
  line-height: 2rem;
  margin-left: -1.5rem;
  min-width: 115%;
  background: rgb(51, 25, 25, 0.8);
  clip-path: polygon(5% 0, 100% 0, 95% 100%, 0% 100%);
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.8) !important;
}

/* Product page */

.list-group-item {
  background: white;
  color: rgb(38, 45, 102);
  box-shadow: 2px 0px 19px rgba(0, 0, 0, 0.14);
  border: none !important;
  cursor: pointer;
}

.list-group-item:hover {
  color: blue;
  background: white;
}

.back-home-button {
  background: rgba(209, 201, 201, 0.24) !important;
  color: rgba(97, 97, 179, 0.44);
  font-size: 1.2rem;
  border-radius: 0;
  border: none;
}

.back-home-button:hover {
  background: rgb(77, 71, 71) !important;
  color: white;
}

.cta-button {
  background: rgb(177, 23, 108);
  font-size: 1.2rem;
  border-radius: 0;
  border: none;
}

.cta-button:hover {
  background: black !important;
}

/* product card */
.product_card {
  min-height: 500px;
}

.product_card_body {
  position: absolute;
  bottom: 0;
}
/* Cart page */
.shopping-cart * {
  color: rgb(161, 108, 108);
  position: relative;
}
.shopping-cart {
  margin-bottom: 100px;
}
/* common */

.top-heading {
  color: rgb(100, 82, 82);
  text-align: center;
}
.screen-center {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  transform: translate(-50%, -50%);
}

/* Forms */
.form-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  position: relative;
}

/* Login page */
.login-form {
  background: url("./assets/images/login_form_bg.png") center center no-repeat;
  object-fit: contain;
  box-shadow: 20px 20px 40px rgba(24, 48, 63, 0.2);
  border-radius: 20px;
  position: relative;
  top: 50%;
  left: 50%;
  color: darkblue;
  font-weight: bold;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 460px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Profile page */
.update-form {
  object-fit: cover;
  box-shadow: 0px 10px 20px rgba(24, 48, 63, 0.2);
  background: rgba(0, 0, 255, 0.021);
  border-radius: 3px;
  color: rgb(33, 61, 114);
  font-weight: bold;
}

/* Checkout progress indicator */
.checkout-tab {
  clip-path: polygon(91% 0, 100% 50%, 91% 100%, 0% 100%, 7% 50%, 0% 0%);
  padding: 0px -4px;
  background-color: #1e41a3 !important;
  font-weight: bold;
}

.checkout-tab-disabled {
  clip-path: polygon(91% 0, 100% 50%, 91% 100%, 0% 100%, 7% 50%, 0% 0%);
  padding: 0px -4px;
  opacity: 0.4;
}

.checkout-product-details {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* .price_range_filter {
  width: 100%;
  margin: -3.1px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
.price_range_filter:focus {
  outline: none;
}
.price_range_filter::-webkit-slider-runnable-track {
  background: #212273;
  border: 0;
  width: 100%;
  height: 31.2px;
  cursor: pointer;
}

.price_range_filter::-webkit-slider-thumb {
  margin-top: 3.1px;
  width: 34px;
  height: 25px;
  background: rgba(255, 13, 56, 0.93);
  border: 1.8px solid #ae1ecc;
  border-radius: 28px;
  cursor: pointer;
  -webkit-appearance: none;
}
.price_range_filter:focus::-webkit-slider-runnable-track {
  background: #272887;
}
.price_range_filter::-moz-range-track {
  background: #212273;
  border: 0;
  width: 100%;
  height: 31.2px;
  cursor: pointer;
}
.price_range_filter::-moz-range-thumb {
  width: 34px;
  height: 25px;
  background: rgba(255, 13, 56, 0.93);
  border: 1.8px solid #ae1ecc;
  border-radius: 28px;
  cursor: pointer;
}
.price_range_filter::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 0 0;
  color: transparent;
  width: 100%;
  height: 31.2px;
  cursor: pointer;
}
.price_range_filter::-ms-fill-lower {
  background: #1b1c5f;
  border: 0;
}
.price_range_filter::-ms-fill-upper {
  background: #212273;
  border: 0;
}
.price_range_filter::-ms-thumb {
  width: 34px;
  height: 25px;
  background: rgba(255, 13, 56, 0.93);
  border: 1.8px solid #ae1ecc;
  border-radius: 28px;
  cursor: pointer;
  margin-top: 0px;
}
.price_range_filter:focus::-ms-fill-lower {
  background: #212273;
}
.price_range_filter:focus::-ms-fill-upper {
  background: #272887;
} */

.filters {
  display: flex;
  margin: 2rem;
  width: 80%;
  /* margin-left: -10px; */
  justify-content: space-around;
  align-items: center;
}

.price-filter-wrapper {
  margin-top: 40px;
}

.priceFilterIndicator {
  padding: 4px 20px;
  border-radius: 4px;
  margin-right: 200px;
  font-size: 1rem;
  color: lightgray;
  font-weight: 700;
  text-align: center;
  margin-left: 30%;
  width: 120px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.priceFilterIndicator:hover {
  color: #433b7c;
  background: #c7bed5;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.3);
}
.category-filter {
  margin-right: 4rem;
  padding: 5px;
  overflow: hidden;
  width: 200px;
  transition: all 0.3s ease-in-out;
}

.category-filter:hover {
  box-shadow: 3px 5px 12px rgba(0, 0, 0, 0.2);
}

.product_update__form {
  background: #1c92d2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f2fcfe,
    #1c92d2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #f2fcfe 1%, #1c92d2 70%, #221a66 100%);
  border-radius: 4px;
  color: #99e34a;
  box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.14);
}
.product_update__form * input {
  border-right: 1px solid #85c24f;
  border-bottom: 1px solid #85c24f;
  border-radius: 4px;
  background: #363b61;
  color: #99e34a;
}

.product_update__form * textarea {
  border-right: 1px solid #85c24f;
  border-bottom: 1px solid #85c24f;
  border-radius: 4px;
  background: #363b61;
  color: #99e34a;
  overflow: hidden;
}

@media screen and (max-width: 1200px) {
  .filters {
    width: 100% !important;
    margin-left: -5%;
  }
}

@media screen and (max-width: 800px) {
  .filters {
    width: 100% !important;
    margin-left: -10%;
    font-size: 0.7rem;
    flex-direction: row;
    justify-content: space-around;
  }
  .category-filter {
    margin: 0 5% 0 -15%;
  }
}
